name: Lint Docs

on:
  pull_request:
    paths:
      - "docs/**"

jobs:
  lint-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run helm-docs
        run: .github/helm-docs.sh
